<%= bootstrap_form_for(session, url: series_sessions_path(serie) + "/#{session.id}",
                       layout: :horizontal, label_col: "col-md-2", control_col: "col-md-9") do |f| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%if !count_s.nil? %>
      <%= f.number_field :session_number, :value => count_s+1, label: 'Season Number', min:1%>
  <%else%>
    <%= f.number_field :session_number, label: 'Season Number', min: 1 %>
  <%end%>

		<%= f.select :status, Session.statuses.collect { |key, value| [key, key] } %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
