<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @season.status %>
</p>

<p>
  <strong>Number:</strong>
  <%= @season.session_number %>
</p>
<%= link_to 'Edit', edit_series_session_path(@serie, @season)%> |
<%= link_to 'Back', '/series/' + @season.serie.id.to_s %>
