<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @season.status %>
</p>

<p>
  <strong>Number:</strong>
  <%= @season.session_number %>
</p>

<p>
  <strong>Total Chapters</strong>
  <%= @season.chapters.count %>
</p>

<p>
  <strong>Chapters</strong>
  <ul>
    <%if @season.chapters.count==0%>
      <li>Not found subtitles >.< </li>
    <% else %>
      <% @season.chapters.each do | chapter | %>
         <li><%= link_to chapter.name, series_session_chapter_path(@season.serie.id, @season.id, chapter) %></li>
		  <% end %>
    <%end %>
	</ul>
</p>

<% if !current_user.nil? %>
  <%= link_to 'Add Chapter', new_series_session_chapter_path(@serie.id, @season.id)%> |
  <%= link_to 'Edit', edit_series_session_path(@serie, @season)%> |
<% end %>
<%= link_to 'Back', '/series/' + @season.serie.id.to_s %>
