<%= bootstrap_form_for(score,
                       layout: :horizontal, label_col: "col-md-2", control_col: "col-md-9") do |f| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id, :value =>user_id %>
  <%= f.hidden_field :chapter_id, :value => chapter_id %>

    <%= f.text_area :comment %>


    <%= f.number_field :score, min: 1, max: 5 %>

    <%= f.submit :class=> "btn btn-default btn-lg" %>
<% end %>
