
  <%= bootstrap_form_for(user,
                         layout: :horizontal, label_col: "col-md-2", control_col: "col-md-9") do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.text_field :password %>
      <%= f.text_field :image, label: "Image (put link image pls)" %>

      <%= f.submit :class=>"btn btn-default btn-lg" %>
  <% end %>
