<h1 class="edit-h1">Add a Child</h1>


<%= bootstrap_form_for(@child, url: children_path(@user),
                       layout: :horizontal, label_col: "col-md-2", control_col: "col-md-9") do |f| %>

    <%= f.text_field :name %>

    <%= f.text_field :email %>

    <%= f.text_field :password %>

    <%= f.collection_check_boxes :filters, Genre.all, :id, :genre %>

    <%= f.submit 'Add Child',:class=> "btn btn-default btn-lg"%>

<% end %>

<%= link_to 'Go Back', '/users/' + current_user.id.to_s, :class=>"btn btn-primary edit-back" %>