<%= bootstrap_form_for(chapter, url: series_session_chapter_path(chapter),
                       layout: :horizontal, label_col: "col-md-2", control_col: "col-md-9") do |f| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.number_field :duration %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
