<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>
<div class= "comments">
  <p>
    <strong>Comments:</strong>
    <ul>
      <div>
        <%if @chapter.scores.count==0%>
          <li>Not found comments >.< </li>
        <% else %>
          <% @chapter.scores.each do | score | %>
    			   <li>
               <p>
                 <%= image_tag(score.user.image)%>
                 <%= score.user.name %> said: <%= score.comment %>
                 Score:  <%= score.score %>
                 <%= link_to 'Edit Comment', edit_score_path(score)%>
               </p>
              </li>
    		  <% end %>
        <%end %>
      </div>
  	</ul>
  </p>
</div>


<% if !current_user.nil? %>
  <p>Write new comment :D</p>
  <%= render '/scores/form', score: Score.new, user_id: current_user.id, chapter_id: @chapter.id%>
  <br>
  <%= link_to 'Edit', edit_series_session_chapter_path(@season.serie.id,@season.id,@chapter) %> |
<% end %>

<%= link_to 'Back', series_session_path(@season.serie.id, @season) %>
