<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chapter.description %>
</p>

<%= link_to 'Edit', edit_series_session_chapter_path(@season.serie.id,@season.id,@chapter) %> |
<%= link_to 'Back', '/series/' + @season.serie.id.to_s %>
