<p id="notice"><%= notice %></p>

<h1>All our series :D</h1>
<%= form_tag  home_path, :method => 'get' do%>
    <div class="field">
      <%= label_tag 'Name' %>
      <%= text_field_tag :name_search, params[:name_search] %>
    </div>

    <div class="field">
      <%= label_tag 'language' %>
      <%= select_tag :language_search, options_for_select(@languages), :include_blank => true %>
    </div>

    <div class="field">
      <%= label_tag 'Genre' %>
      <%= select_tag :genre_search, options_for_select(@genres), :include_blank => true %>
    </div>

    <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>language</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
<div class="row">
    <% @series.each do |series| %>
      <div class="col-xs-6 col-md-3">
        <%= link_to series.name, '/series/' + series.id.to_s, { :class=>"thumbnail" }%>
        <%= series.description %>
        <%= series.language %>
        <%= link_to 'Show', '/series/' + series.id.to_s %>

      </div>
    <% end %>
</div>


<br>
