
<nav >
  <%= link_to "Home", home_path%>
  <% if user_signed_in?%>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete%>
    <%= link_to "My Profile", user_path(current_user)%>
    <% if current_user.rol.eql? 'admin'%>
      <%= link_to "Admin Users", users_path%>
      <%= link_to "Admin Series", series_index_path%>
    <%end%>
  <% else%>
    <%=link_to "Registrase", new_user_registration_path%>
    <%=link_to "Iniciar Sesion", new_user_session_path%>
  <%end%>
</nav>
